{% extends "base.html" %}

{% block content %}

{% for order in orders %}
<div class="col-md-7 mb-4 border rounded p-3">
<!-- order id on right -->
<b style="float: right;">Order Id: {{ order.id }}</b>
<!-- order payment status -->
{% if order.status %}
    <h4><b class="text-success">Successful</b></h4>
{% else %}
    <h3><b class="text-danger">Cancelled</b></h3>
{% endif %}
<div class="text-muted border-top pt-2"></div>
{% for item in order.items.all  %}
    <div class="border-bottom p-2">
        <p>product: <b><a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">{{item.product.title}}</a></b></p>
        <p>Price: <b>${{item.price}}</b></p>
        <p>quantity: <b>{{item.quantity}}</b></p>
    </div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}