{% extends "dashboard.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Id</th>
        <th scope="col">total price</th>
        <th scope="col">status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for order in orders %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ order.user.full_name }}</td>
        <td>{{ order.id }}</td>
        <td>${{ order.get_total_price }}</td>
        {% if order.status %}
            <td class="text-success">Successful</td>
        {% else %}
            <td class="text-danger">Canceled</td>
        {% endif %}
        <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">Detail</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  

{% endblock %}

