{% extends "dashboard.html" %}

{% block content %}

<table class="table table-striped ">
    <thead class="text-muted">
        <tr>
            <th scope="col">n</th>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th scope="col">category</th>
            <th scope="col">date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
        <td>${{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.date_created|date:"M d" }}</td>
        <td><a class="text-danger text-decoration-none" href="{% url 'dashboard:delete_product' product.id %}">Delete</a></td>
        <td><a class="text-info text-decoration-none" href="{% url 'dashboard:edit_product' product.id %}">Edit</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}